body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}
.b{
 position: absolute;
    bottom:  20px;
    
    
}


button{
    height: 55px;
    width:150px;
    border-radius: 30px;
    background-color:violet;
    border: 1px solid;
    border-color: violet;
    color: white ;
   
}

button:hover{
     background-color: white;
     border-color: navy;
    color: navy;
    border: 3px solid;
}
.heart{
    height: 150px;
    width: 150px;
    background-color:red;
    position: relative;
    transform: rotate(45deg);
    box-shadow: -20px 20px 150px red; 
    animation: palpitar 0.4s linear infinite alternate;
    
}
.contenido{
    position: fixed;
    margin-bottom: 50px;
    text-align: center;
}
h1{color: white};
h2{ color:white}
@keyframes palpitar{
    0%{transform: rotate(45deg) scale(1.10);}
    80%{transform: rotate(45deg) scale(1.10);}
    100%{transform: rotate(45deg) scale(0.8);}
}
.heart::before{
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    background: red;
    right: 50%;
    border-radius: 50%;
    box-shadow: 20px 20px 150px red;
}
.heart::after{
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    background: red;
    top: -50%;
    border-radius: 50%;
    box-shadow: 20px 20px 150px red;
}