<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mi Currículum</title>
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: gainsboro/
    }
    #container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto; 
        background-color:
        padding: 20px;
        box-sizing: border-box; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    }
</style>
</head>


</body>
</html>


