body{
background-image: url(Moor.jpg);
   background-repeat: no-repeat;
     background-attachment: fixed;

}
.container{
    border: 1000px sold black;
    background-image: 
    height: 700px;
    width: 100%;
    margin: 0px auto
        
}

