.body{
 background-color: darkgrey;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 70%; 
    height: 600px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

section h2 {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

.social-media a {
    color: #fff;
    margin-right: 10px;
}
