.body{
    
    background-image: url(w1.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.row{
    width: 30%;
    height: 500px ;
    margin-left: 35%;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
   border: 2px solid;
    border-radius: 5%;
    border-color: beige;
   
}

button a{
    text-decoration: none;
    color: black;
}



h1{
 font-family: "Bell MT";
    
   
}
