body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    background-color: #fff;
    
   
}

.card-container {
    perspective: 1000px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(4, 1fr);
    display: grid;
    flex-direction:column-reverse;
   
    margin: auto;
    padding-bottom: 50px;
    

}

.card {
    width: 300px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    justify-content: center;
    transition: transform 0.5s, box-shadow 0.5s;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

    .card:hover {
        transform: rotateY(180deg);
       
    }

.card-front,
.card-back {
    position: absolute;
    width: 80%;
    height: 150%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.card-front {
    background-color: white;
}

.card-back {
    background-color: #333;
    color: white;
    transform: rotateY(180deg);
}

.card-content {
    padding: 15px;
}

.card h2 {
    margin: 0;
    font-size: 1.5em;
}

.card p {
    font-size: 1em;
    line-height: 1.5em;
}
.espacio{
    margin: 5px;
    padding: 5px;

    
   
    
   
}
