*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

. enca h1{
   color: white;
    
    
}




.body{
    background-image: url(f21co2.jpg);
   background-position: center;
    background-size: cover;
   

   
}

.contenido a{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: white;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 4px;
    transition: all 400ms ease;
    font-size: 8;
}
.contenido a:hover{
    background: yellow ;
    color: black;
    
    }
.contenido{
    margin-right: auto 5%;
;
margin-bottom: auto 5%;
    padding: 5%;
    display: inline-block;
    background-color: ;
    width: 600px;
    height: 700px;
   
    
}
.encabezado h1{
    background-color: white;
    color: black;
    font-family: fantasy;
    font-size: 35;
    width: 400px;
    height: 40px;
    text-align: center;
    
    
}














